

{% extends "django_sb_admin/base.html" %}
<!doctype html>
{% block sb_admin_header %}
  {% block branding %}
    <img src="/static/Riyadh-metro-logo.png" style="background: transparent;width: 60px;">
    <!-- <h1 id="site-name">Asset Optima</h1> -->
  {% endblock %}
{% endblock sb_admin_header %}
{% block sb_admin_content %}
              <!-- Page Heading -->

            <div class="row mb-3">
                <div class="col-lg-12">
                    <h3 class="page-header">
                      Update Password
                    </h3>
                    <!--ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Forms
                        </li>
                    </ol-->
                </div>
            </div>
            <!-- /.row -->
            <div class="container">
                <div class="card card-register mx-auto mt-5">
                  
                    <div class="card-body">
                        
                        <form id="UpdatePasswordForm"> 
                        <!-- <input type="hidden" id="id" name="id" value="{{user_ID}}">
                        <input type="hidden" id="email" name="id" value="{{email}}"> -->
                        
                        <!-- <div class="form-group">
                            <div class="form-label-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" value="" required="required">
                            <label for="inputEmail">Email address</label>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="form-label-group">
                            <input type="password" id="password" name="Password" class="form-control" placeholder="Password" value="" required="required">
                            <label for="inputEmail">Password</label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                <input type="password" id="password1" name="password1" class="form-control" placeholder="New Password" required="required" value="">
                                <label for="inputPassword">New Password</label>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">

                            <div class="col-md-12">
                                <div class="form-label-group">
                                <input type="password" id="conf_password" name="conf_password" class="form-control" placeholder="Confirm New password" required="required" value="">
                                <label for="confirmPassword">Confirm New Password</label>
                                </div>
                            </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" id="btn-sub">
                        Update Password
                        </button>
                                <div class="alert alert-warning d-none" id="message">
                            
                                </div>
                    </form>
                    </div>
                </div>
            </div>
{% endblock sb_admin_content %}
{% block sb_admin_js %}
<script>
$(document).ready(function() {
   
});

$( "#UpdatePasswordForm" ).submit(function(e) {
        e.preventDefault();
        // var id= $('#id').val()
        // var email= $('#email').val()
        var password= $('#password').val()
        var password1= $('#password1').val()
        var conf_password= $('#conf_password').val()
        $.ajax({
            url: "/changepassword/",
            method: 'POST',
            dataType: 'json',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data : {
                // 'id':id,
                // 'email' : email,
                'password' : password,
                'password1' : password1,
                'conf_password' : conf_password,
            },
            success: function (response) {
                if(response.status == '0') {
                    swal(response.message)
                    //$('#message').removeClass('d-none'); 
                    //$('#message').html(response.message);
                }
                else{
                    swal(response.message)
                    window.location.href = "/dashboard/";
                   // $('#message').removeClass('d-none'); 
                    //$('#message').html(response.message);
                }
            }
        });
        
});
    
</script>

{% endblock sb_admin_js %}
