/forms
/forms/__pycache__
/forms/migrations/__pycache__
/myenv
/fracas_site
/reports
/forms
/forms/migrations/__pycache__
/forms/__pycache__
/reports
/reports/migrations/__pycache__
/reports/__pycache__
/reports
/excelFile
/forms
/forms/__pycache__
/forms/migrations
/forms/migrations
/fracas/migrations
