<div class="container-fluid"><!-- cfluid -->


    <!-- Page Heading -->

    <!--ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-dashboard"></i>  <a href="/django-sb-admin/">Django SB Admin</a>
    </li>
    
    
    </ol-->
    <div id="overlay">
    <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="spinner"></div>
    </div>
    </div>
    
<div class="container-fluid" id="content-main">

    <!-- <ul class="nav object-tools" id="fdfdgg"> -->
        
        



<li class="nav-item">

<a href="/fracas/reviewboard/add/" class="addlink">
    Add review board
</a>
</li>



        
    <!-- </ul> -->


<div class="row module filtered" id="changelist">
    <div class="col-sm-12" id="changelist-filter">
        


        
    </div>
    
    <div class="col-sm-9">   
        <form id="changelist-form" method="post" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="0z8tpV4RlvPMHpArwlphTH1XUXuuNHnLvKGUzWB1HaXKJH4QGwqdwCQsg4N6CiuC">
        

        
            
<div class="actions">


<label>Action: <select name="action" required="">
<option value="" selected="">---------</option>

<option value="delete_selected">Delete selected (6) FRACAS Review</option>

</select></label><input type="hidden" name="select_across" value="0" class="select-across">


<button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>



    <span class="action-counter" data-actions-icnt="3">0 of 3 selected</span>
    



</div>

            

<div class="row mb-5">
<div class="col-lg-12"><h5>Configuration Information of Assets</h2></div>

<div class="col-lg-12">


<div class="results">dfdfdf
<table class="table table-striped table-bordered" id="result_list">
<thead>
<tr>

<th scope="col" class="action-checkbox-column">

<div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
<div class="clear"></div>
</th>
<th scope="col" class="sortable column-meeting_date">

    

<div class="text"><a href="?o=1">Meeting date</a></div>
<div class="clear"></div>
</th>
<th scope="col" class="sortable column-asset_type">

    

<div class="text"><a href="?o=2">Asset type</a></div>
<div class="clear"></div>
</th>
<th scope="col" class="sortable column-meeting_id">

    

<div class="text"><a href="?o=3">Meeting id</a></div>
<div class="clear"></div>
</th>
</tr>
</thead>
<tbody>


<tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="4" class="action-select"></td><th class="field-meeting_date nowrap"><a href="/fracas/reviewboard/4/change/">June 6, 2020</a></th><td class="field-asset_type">Axle counter</td><td class="field-meeting_id">4</td></tr>


<tr class="row2"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="2" class="action-select"></td><th class="field-meeting_date nowrap"><a href="/fracas/reviewboard/2/change/">May 6, 2020</a></th><td class="field-asset_type">Zone Controller</td><td class="field-meeting_id">2</td></tr>


<tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1" class="action-select"></td><th class="field-meeting_date nowrap"><a href="/fracas/reviewboard/1/change/">May 6, 2020</a></th><td class="field-asset_type">Axle counter</td><td class="field-meeting_id">1</td></tr>

</tbody>
</table>
</div>

</div>
</div>

            
        
        

<p class="paginator">

3 (6) FRACAS Review


</p>

        </form>
    </div>
    
    
        <div class="col-sm-3" id="changelist-filter">
        <h2>Filter</h2>
        
<h3> By asset type </h3>
<!-- <ul> -->

<!-- <li class="selected"> -->
<!-- <a href="?" title="All">All</a></li> -->

<div>
<a href="?" title="All" class="btn  btn-info  btn-icon-split" style="width: 60%;margin: 2px;">
    <span class="text">All</span>
</a>
</div>


<!-- <li> -->
<!-- <a href="?asset_type=Axle+counter" title="Axle counter">Axle counter</a></li> -->

<div>
<a href="?asset_type=Axle+counter" title="Axle counter" class="btn  btn-light  btn-icon-split" style="width: 60%;margin: 2px;">
    <span class="text">Axle counter</span>
</a>
</div>


<!-- <li> -->
<!-- <a href="?asset_type=Zone+Controller" title="Zone Controller">Zone Controller</a></li> -->

<div>
<a href="?asset_type=Zone+Controller" title="Zone Controller" class="btn  btn-light  btn-icon-split" style="width: 60%;margin: 2px;">
    <span class="text">Zone Controller</span>
</a>
</div>


<!-- </ul> -->

        </div>
    
    
</div>
</div>

</div>