{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Asset Optima - Forgot Password</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mb-4">
          
        </div>
        <form method="POST" action="{% url 'password_update'%}" id="FprgotPasswordForm"> {% csrf_token %}
          {% if key_expire == "false" %}
          <div class="form-group">
            <!-- <input type="hidden" name="user_name" value="{{username}}"> -->
            
            <input type="hidden" name="key" value="{{key}}">
            <div class="form-label-group">
              <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required">
                  <label for="inputPassword">New Password</label>
            </div>
            <div class="form-label-group">
              <input type="password" id="confirmPassword" name="conf_password" class="form-control" placeholder="Confirm password" required="required">
                  <label for="confirmPassword">Confirm password</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
              {% if message %}
                <div class="alert alert-warning">
                  {{message}}
                </div>
              {% endif %}
          {% else %}
          Your Secret had been expired !!!.. 
          <b><a href="/django-sb-admin/forgot_password/">Click here to get new secret key</a>
          {% endif %}
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url "sb_admin_register" %}">Register an Account</a>
          <a class="d-block small" href="{% url "sb_admin_login" %}">Login Page</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

</body>

</html>
