{% extends "django_sb_admin/base.html" %}
<!doctype html>
{% block sb_admin_header %}
  {% block branding %}
    <img src="/static/Riyadh-metro-logo.png" style="background: transparent;width: 60px;">
    <!-- <h1 id="site-name">Asset Optima</h1> -->
  {% endblock %}
{% endblock sb_admin_header %}
{% block sb_admin_content %}
              <!-- Page Heading -->

            <div class="row mb-3">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        {% if data.id != '' %}
                        Update failure data
                        {% else %}
                        Add failure data
                        {% endif %}
                    </h3>
                    <!--ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Forms
                        </li>
                    </ol-->
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-12 mb-3">
    
    
                    <a href="/forms/failuredata/"><button class="btn btn-primary btn-icon-split float-right m-2" > 
                    <span class="icon text-white-50">
                        <i class="fas fa-angle-left"></i>
                        </span>             
                    <span class="text">Back</span>
                    </button></a>
                
                </div>
            </div>

            <!-- /.row -->
          <form id="FailureForm"> 
            <div class="row mb-4">


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="failure_id">*Failure ID:</label>
                        <input type="text" class="form-control" required="required" id="failure_id" name="failure_id" value="{{data.failure_id}}" readonly>
                        <div class="invalid-feedback">
                         Please enter Failure ID.
                        </div>
                    </div>
                </div>


                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="direction">*Depot Location:</label>
                      
                        <select class="form-control" id="dept_location " name="dept_location" required="required">
                            {% if 'RHD' == data.dept_location %}
                            <option value="RHD" selected>RHD</option>
                            {% else %}
                                <option value="RHD">RHD</option>
                            {% endif %}
                            {% if 'HVPCD' == data.dept_location %}
                            <option value="HVPCD" selected>HVPCD</option>
                            {% else %}
                                <option value="HVPCD">HVPCD</option>
                            {% endif %}
                           
                        </select>




                        {% comment %} <input type="text" class="form-control" id="dept_location" name="dept_location" value="{{data.dept_location}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Depot Location.
                        </div>
                    </div>
                </div>







                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="date">*Failure Reported Date  (DD/MM/YYYY):</label>
                        <input type="text" autocomplete="off" required="required" class="form-control date-time" id="date" name="date" value="{{data.date|date:'d/m/Y'}}">
                        <div class="invalid-feedback">
                         Please enter Failure  Date.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="time">*Failure Reported Time:</label>
                        <input type="time" class="form-control" id="time" required="required" name="time" value="{{data.time|date:"H:i"}}">
                        <div class="invalid-feedback">
                         Please enter Failure Time.
                        </div>
                    </div>
                </div>

                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="event_description">*Failure description:</label>
                        <input type="text" class="form-control" id="event_description" required="required" name="event_description" value="{{data.event_description}}">
                        <div class="invalid-feedback">
                         Please enter Failure description.
                        </div>
                    </div>
                </div>


                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="failure_type">*Failure type:</label>
                        <select class="form-control" id="failure_type" name="failure_type" required="required">
                        
                        {% if 'Software' == data.failure_type %}
                            <option value="Software" selected>Software</option>
                        {% else %}
                            <option value="Software">Software</option>
                        {% endif %}
                        {% if 'Hardware' == data.failure_type %}
                            <option value="Hardware" selected>Hardware</option>
                        {% else %}
                            <option value="Hardware">Hardware</option>
                        {% endif %}
                        {% if 'Random' == data.failure_type %}
                            <option value="Random" selected>Random</option>
                        {% else %}
                            <option value="Random">Random</option>
                        {% endif %}
                        {% if 'Other' == data.failure_type %}
                            <option value="Other" selected>Other</option>
                        {% else %}
                            <option value="Other">Other</option>
                        {% endif %}
                        </select>
                        {% comment %} <input type="text" class="form-control" id="failure_type" name="failure_type" value="{{data.failure_type}}"> {% endcomment %}
                         <div class="invalid-feedback">
                         Please enter Failure type.
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="asset_type">*Asset Name:</label>
                        <input type="hidden" value="{{ data.id }}" id="id" name="id">
                        {% if request.session.user_Role == 1 %}
                        <select class="form-control" id="asset_type" name="asset_type" required="required">
                        <option value="">--  Select Asset Name  --</option>
                        {% for asset_type in asset_type %}
                        {% if asset_type.asset_type != '' %}
                            {% if asset_type.id == data.asset_type %}
                                <option value="{{asset_type.id}}" selected>{{asset_type.asset_type}} ( {{asset_type.project}} )</option>
                            {% else %}
                                <option value="{{asset_type.id}}">{{asset_type.asset_type}} ( {{asset_type.project}} )</option>
                            {% endif %}
                                
                            {% endif %}
                        {% endfor %}
                        </select>
                        {% else %}  
                        <select class="form-control" id="asset_type" name="asset_type" required="required">
                        <option value="">--  Select Asset Name  --</option>
                        {% for asset_type in asset_type %}
                        {% if asset_type.asset_type != '' %}
                            {% if asset_type.id == data.asset_type %}
                                <option value="{{asset_type.id}}" selected>{{asset_type.asset_type}} </option>
                            {% else %}
                                <option value="{{asset_type.id}}">{{asset_type.asset_type}} </option>
                            {% endif %}
                                
                            {% endif %}
                        {% endfor %}
                        </select>
                        {% endif %}  
                        <div class="invalid-feedback">
                         Please enter Asset Name.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="asset_config_id">*Asset Config ID:</label>
                        <select class="form-control" id="asset_config_id" name="asset_config_id" required="required">
                        </select>
                        {% comment %} <input type="text" class="form-control" id="asset_config_id" name="asset_config_id" value="{{data.asset_config_id}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Asset Config ID.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="location_id">*Train Set No:</label>
                        <select class="form-control" id="location_id" name="location_id" required="required">
                        </select>
                        {% comment %} <input type="text" class="form-control" id="location_id" name="location_id" value="{{data.location_id}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Train Set No.
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="kilometre_reading">*Kilometre Reading:</label>
                        <input type="text" class="form-control" id="kilometre_reading" required="required" name="kilometre_reading" value="{{data.kilometre_reading}}">
                        <div class="invalid-feedback">
                         Please enter Kilometre Reading.
                        </div>
                    </div>
                </div>


                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="sel_car">*CAR(Ctrl + left mouse click to select multiple options):</label>
                       
                        <select class="form-control" id="sel_car" name="sel_car" required="required" multiple>
                            <option value="DMA">DMA</option>
                            <option value="TC">TC</option>
                            <option value="DMB">DMB</option>
                        </select>



                        {% comment %} <input type="text" class="form-control" id="sel_car" name="sel_car" value="{{data.sel_car}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter CAR.
                        </div>
                    </div>
                </div>



                        <div class="col-md-4">
                    <div class="form-group">
                        <label for="affecting_failures">*Service Affecting Failures(Ctrl + left mouse click to select multiple options):</label>
                       
                        <select class="form-control" id="affecting_failures" name="affecting_failures" required="required" multiple>
                            <option value="F1">F1</option>
                            <option value="F2">F2</option>
                            <option value="F3">F3</option>
                        </select>



                        {% comment %} <input type="text" class="form-control" id="affecting_failures" name="affecting_failures" value="{{data.affecting_failures}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Service Affecting Failures.
                        </div>
                    </div>
                </div>


                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="equipment">*Equipment:</label>
                        <input type="text" class="form-control" id="equipment" required="required" name="equipment" value="{{data.equipment}}">
                        <div class="invalid-feedback">
                         Please enter Equipment.
                        </div>
                    </div>
                </div>




                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="location">*Failure Location:</label>
                        <input type="text" class="form-control" id="location" required="required" name="location" value="{{data.location}}">
                        <div class="invalid-feedback">
                         Please enter Location.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="direction">*Direction:</label>
                      
                        <select class="form-control" id="direction " name="direction" required="required">
                            {% if 'Up' == data.direction %}
                            <option value="Up" selected>Up</option>
                            {% else %}
                                <option value="Up">Up</option>
                            {% endif %}
                            {% if 'Down' == data.direction %}
                            <option value="Down" selected>Down</option>
                            {% else %}
                                <option value="Down">Down</option>
                            {% endif %}
                           
                        </select>




                        {% comment %} <input type="text" class="form-control" id="direction" name="direction" value="{{data.direction}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Direction.
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="safety_failure">*Incident :</label>
                        <select class="form-control" id="incident " name="incident" required="required">
                            {% if 'Yes' == data.incident %}
                            <option value="Yes" selected>Yes</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                            {% endif %}
                            {% if 'No' == data.incident %}
                            <option value="No" selected>No</option>
                            {% else %}
                                <option value="No">No</option>
                            {% endif %}
                        </select>
                        {% comment %} <input type="text" class="form-control" id="incident" name="incident" value="{{data.safety_failure}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Incident .
                        </div>
                    </div>
                </div>

                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="no_of_trip_cancel">*No. of Trips Cancelled:</label>
                        <input type="number" class="form-control" id="no_of_trip_cancel" required="required" name="no_of_trip_cancel" value="{{data.no_of_trip_cancel}}">
                        <div class="invalid-feedback">
                         Please enter No. of Trips Cancelled.
                        </div>
                    </div>
                </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="revenue_service_delay">*Revenue Service Delay (mins):</label>
                            <input type="number" class="form-control" id="revenue_service_delay" name="revenue_service_delay" value="{{data.revenue_service_delay}}" required="required" onchange="updateFailureCategory();">
                            <div class="invalid-feedback">
                            Please enter Revenue Delay Time.
                            </div>
                        </div>
                    </div>



                  <div class="col-md-4">
                    <div class="form-group">
                        <label for="failure_category">*Failure Category :</label>
                      
                        <select class="form-control" id="failure_category " name="failure_category" required="required">
                            {% if 'SAF' == data.failure_category %}
                            <option value="SAF" selected>SAF</option>
                            {% else %}
                                <option value="SAF">SAF</option>
                            {% endif %}
                            {% if 'Non-SAF' == data.failure_category %}
                            <option value="Non-SAF" selected>Non-SAF</option>
                            {% else %}
                                <option value="Non-SAF">Non-SAF</option>
                            {% endif %}
                            {% if 'Depot Failure' == data.failure_category %}
                            <option value="Depot Failure" selected>Depot Failure</option>
                            {% else %}
                                <option value="Depot Failure">Depot Failure</option>
                            {% endif %}
                           
                        </select>


                        {% comment %} <input type="text" class="form-control" id="failure_category" name="failure_category" value="{{data.failure_category}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Failure Category .
                        </div>
                    </div>
                </div>






                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="deboarding">*Deboarding:</label>
                       

                         <select class="form-control" id="deboarding " name="deboarding" required="required">
                            {% if 'Yes' == data.deboarding %}
                            <option value="Yes" selected>Yes</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                            {% endif %}
                            {% if 'No' == data.deboarding %}
                            <option value="No" selected>No</option>
                            {% else %}
                                <option value="No">No</option>
                            {% endif %}
                        </select>



                        {% comment %} <input type="text" class="form-control" id="deboarding" name="deboarding" value="{{data.deboarding}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Deboarding.
                        </div>
                    </div>
                </div>


                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="department">*Department:</label>
                      
                        <select class="form-control" id="department " name="department" required="required">
                            {% if 'Operator' == data.department %}
                            <option value="Operator" selected>Operator</option>
                            {% else %}
                                <option value="Operator">Operator</option>
                            {% endif %}
                            {% if 'Maintainer' == data.department %}
                            <option value="Maintainer" selected>Maintainer</option>
                            {% else %}
                                <option value="Maintainer">Maintainer</option>
                            {% endif %}
                        </select>




                        {% comment %} <input type="text" class="form-control" id="department" name="department" value="{{data.department}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Department.
                        </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="form-group">
                        <label for="reported_to_PPIO">*Reported to PPIO:</label>
                      

                         <select class="form-control" id="reported_to_PPIO " name="reported_to_PPIO" required="required">
                            {% if 'Yes' == data.reported_to_PPIO %}
                            <option value="Yes" selected>Yes</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                            {% endif %}
                            {% if 'No' == data.reported_to_PPIO %}
                            <option value="No" selected>No</option>
                            {% else %}
                                <option value="No">No</option>
                            {% endif %}
                        </select>



                        {% comment %} <input type="text" class="form-control" id="reported_to_PPIO" name="reported_to_PPIO" value="{{data.reported_to_PPIO}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Reported to PPIO.
                        </div>
                    </div>
                </div>

                   <div class="col-md-4">
                    <div class="form-group">
                        <label for="TO_name">*T.O. Name / Reported By:</label>
                        <input type="text" class="form-control" id="TO_name" required="required" name="TO_name" value="{{data.TO_name}}">
                        <div class="invalid-feedback">
                         Please enter T.O. Name / Reported By.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mode_id">Failure mode ID:</label>
                        <select class="form-control" id="mode_id" name="mode_id" >
                        <option value="">--  Select Failure mode ID  --</option>
                        {% for mode_id in mode_id %}
                          {% if mode_id.mode_id != '' %}
                            {% if mode_id.mode_id == data.mode_id.mode_id %}
                            <option value="{{mode_id.id}}" selected>{{mode_id.mode_id}}</option>
                            {% else %}
                            <option value="{{mode_id.id}}">{{mode_id.mode_id}}</option>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        </select>
                        {% comment %} <input type="text" class="form-control" id="mode_id" name="mode_id" value="{{data.mode_id}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please select Failure mode ID.
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="detection">*Failure detection:</label>
                        <select class="form-control" id="detection" name="detection" required="required">
                        
                        {% if 'Inspection' == data.detection %}
                            <option value="Inspection" selected>Inspection</option>
                        {% else %}
                            <option value="Inspection">Inspection</option>
                        {% endif %}
                        {% if 'Failure Alarm' == data.detection %}
                            <option value="Failure Alarm" selected>Failure Alarm</option>
                        {% else %}
                            <option value="Failure Alarm">Failure Alarm</option>
                        {% endif %}
                        {% if 'Service Disruption Diagnosis' == data.detection %}
                            <option value="Service Disruption Diagnosis" selected>Service Disruption Diagnosis</option>
                        {% else %}
                            <option value="Service Disruption Diagnosis">Service Disruption Diagnosis</option>
                        {% endif %}
                        
                        </select>
                        {% comment %} <input type="text" class="form-control" id="detection" name="detection" value="{{data.detection}}"> {% endcomment %}
                       
                         <div class="invalid-feedback">
                         Please select Failure detection.
                        </div>
                    </div>
                </div>

               

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="safety_failure">*Safety failure:</label>
                        <select class="form-control" id="safety_failure" name="safety_failure" required="required">
                            {% if 'Yes' == data.safety_failure %}
                            <option value="Yes" selected>Yes</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                            {% endif %}
                            {% if 'No' == data.safety_failure %}
                            <option value="No" selected>No</option>
                            {% else %}
                                <option value="No">No</option>
                            {% endif %}
                        </select>
                        {% comment %} <input type="text" class="form-control" id="safety_failure" name="safety_failure" value="{{data.safety_failure}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Safety failure.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="hazard_id">Hazard id:</label>
                        <input type="text" class="form-control" id="hazard_id" name="hazard_id" value="{{data.hazard_id}}">
                        <div class="invalid-feedback">
                         Please enter Hazard id.
                        </div>
                    </div>
                </div>

                <div class="hide d-none">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cm_start_date">*Cm start date (DD/MM/YYYY):</label>
                            <input type="text" autocomplete="off"  class="form-control date-time" id="cm_start_date" name="cm_start_date" value="{{data.cm_start_date|date:'d/m/Y'}}" onchange="getServiceDelay();">
                            <div class="invalid-feedback">
                            Please enter Cm start date.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cm_start_time">*Cm start time:</label>
                            <input type="time" class="form-control"  id="cm_start_time" name="cm_start_time" value="{{data.cm_start_time|date:"H:i"}}" onchange="getServiceDelay();">
                            <div class="invalid-feedback">
                            Please enter Cm start time.
                            </div>
                        </div>
                    </div>

                        
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cm_end_date">Cm end date (DD/MM/YYYY):</label>
                            <input type="text" autocomplete="off" class="form-control date-time" id="cm_end_date" name="cm_end_date" value="{{data.cm_end_date|date:'d/m/Y'}}" onchange="getServiceDelay();">
                            <div class="invalid-feedback">
                            Please enter Cm end date.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cm_end_time">Cm end time:</label>
                            <input type="time" class="form-control" id="cm_end_time" name="cm_end_time" value="{{ data.cm_end_time|date:"H:i" }}" onchange="getServiceDelay();">
                            <div class="invalid-feedback">
                            Please enter Cm end time.
                            </div>
                        </div>
                    </div>


                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="service_delay">*Delay Time (mins):</label>
                            <input type="number" class="form-control" id="service_delay" name="service_delay" value="{{data.service_delay}}">
                            <div class="invalid-feedback">
                            Please enter Delay Time.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cm_description">*Cm description:</label>
                            <textarea class="form-control" id="cm_description" name="cm_description">{{data.cm_description}}</textarea>
                            <div class="invalid-feedback">
                            Please enter Cm description.
                            </div>
                        </div>
                    </div>


                </div>

               

                <div class="col-md-4 ">
                    <div class="form-group">
                        <label for="defect">Defect:</label>
                        <select class="form-control" id="defect" name="defect">
                        <option value="">--  Select Defect  --</option>
                        {% for defect in defect %}
                          {% if defect.defect_id != '' %}
                           {% if defect.defect_id == data.defect.defect_id %}
                            <option value="{{defect.defect_id}}" selected>{{defect.defect_id}}: {{defect.defect_description}}</option>
                            {% else %}
                            <option value="{{defect.defect_id}}">{{defect.defect_id}}: {{defect.defect_description}}</option>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        </select>
                        {% comment %} <input type="text" class="form-control" id="defect" name="defect" value="{{data.defect}}"> {% endcomment %}
                        <div class="invalid-feedback">
                         Please enter Defect.
                        </div>
                    </div>
                </div>

                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="immediate_investigation">*Immediate Action Taken:</label>
                        <textarea class="form-control" required="required" id="immediate_investigation" name="immediate_investigation">{{data.immediate_investigation}}</textarea>
                        <div class="invalid-feedback">
                         Please enter Immediate Action Taken.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="oem_failure_reference">Oem failure reference:</label>
                        <textarea class="form-control" id="oem_failure_reference" name="oem_failure_reference">{{data.oem_failure_reference}}</textarea>
                         <div class="invalid-feedback">
                         Please enter Oem failure reference.
                        </div>
                    </div>
                </div>

































               

            
                


                 


               

               


                

               

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="replaced_asset_config_id">Replaced asset config id:</label>
                        <input type="text" class="form-control" id="replaced_asset_config_id" name="replaced_asset_config_id" value="{{data.replaced_asset_config_id}}">
                        <div class="invalid-feedback">
                         Please enter Replaced asset config id.
                        </div>
                    </div>
                </div>

                
                 

           
            </div>

         


            <div class="row ">
                <div class="alert alert-warning col-12 d-none" id="message">
                            
                </div>
            </div>

            <div class="row mb-4" align="right">
                <div class="col-12">  
                    <input type="hidden" id="buttonClick">   
                    <button type="submit" class="btn btn-primary mt-2" onClick="return SetButton(1);">Save</button>
                    
                    <button type="submit" class="btn btn-primary mt-2" onClick="return SetButton(2);">Save and add another</button>
                
                    <button type="submit" class="btn btn-primary mt-2" onClick="return SetButton(3);">Save and continue editing</button>
                </div>
            </div>
        </form>

            
{% endblock sb_admin_content %}
{% block sb_admin_js %}
<script>
    $(document).ready(function() {


         $('#date').datepicker({
          autoclose: true,
          format: 'dd/mm/yyyy',});
        // $('#cm_start_date').datepicker({
        //   autoclose: true,
        //   format: 'dd/mm/yyyy',});
        // $('#cm_end_date').datepicker({
        // autoclose: true,
        // format: 'dd/mm/yyyy',});

        updateFailureCategory();

        $('#asset_type').val('{{ data.asset_type }}');
        var id= $('#id').val();
        if(id != ""){


            var input = '{{ data.sel_car }}';
           const resultArray = input.split(",").map(item => item.trim());

           console.log(resultArray)
            $('#sel_car').val(resultArray);


             var input2 = '{{ data.affecting_failures }}';
           const resultArray2 = input2.split(",").map(item => item.trim());

           console.log(resultArray2)
            $('#affecting_failures').val(resultArray2);


            $.ajax({
            url: "/forms/system/",
            method: 'GET',
            dataType: 'json',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data : {
            'asset_type' : '{{ data.asset_type }}'
            },
            success: function (response) {
                console.log(response);
                var asset_config_id = "<option value="+""+">"+"--  Select Asset config id  --"+"</options>";
                    $.each(response, function (i,value) {
                    if (value.asset_config_id != ''){
                        if(value.asset_config_id == '{{ data.asset_config_id }}')
                            asset_config_id = asset_config_id + "<option value="+value.id+" selected>"+value.asset_config_id+"</options>";
                        else
                            asset_config_id = asset_config_id + "<option value="+value.id+">"+value.asset_config_id+"</options>";
                        }
                });
                    var select = "<Select>"+asset_config_id+"</Select>";
                $("#asset_config_id").html(asset_config_id);






                 $.ajax({
                    url: "/forms/location_id/",
                    method: 'GET',
                    dataType: 'json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data : {
                    'asset_config_id' : $('select[name=asset_config_id]').val()
                    },
                    success: function (response) {
                        //console.log(response);
                        var location_id = "<option value="+""+">"+"--  Select Train Set No  --"+"</options>";
                            $.each(response, function (i,value) {
                            if (value.location_id != ''){

                                var sel = '';
                                if(value.id == '{{ data.location_id }}') sel = 'selected';

                              
                                    location_id = location_id + "<option "+sel+" value="+value.id+">"+value.location_id+"</options>";


                            }
                        });
                            var select = "<select>"+location_id+"</select>";
                        $("#location_id").html(select);
                        
                        }
                    }); 









                
                }

            }); 

               






        }else{
            var d1 = new Date(new Date());
            $('#date').val(moment(d1).format('DD/MM/YYYY'))
        }






});

function updateFailureCategory(){
    var revenue_service_delay = $('#revenue_service_delay').val();
    var criteria_delay_for_saf = '{{criteria_delay_for_saf}}';

    $('select[name="failure_category"]').val('Non-SAF').trigger('change');


    if(revenue_service_delay == "") return false;

    if(revenue_service_delay >= criteria_delay_for_saf){
        $('select[name="failure_category"]').val('SAF').trigger('change');
    }else{
        $('select[name="failure_category"]').val('Non-SAF').trigger('change');
    }

}


function getServiceDelay(){
    $('#service_delay').val('');

    var cm_start_date= $('#cm_start_date').val()
    var cm_start_time= $('#cm_start_time').val()
    var cm_end_date= $('#cm_end_date').val()
    var cm_end_time= $('#cm_end_time').val()

    if(cm_start_date != "" && cm_start_time != "" && cm_end_date != "" && cm_end_time != "" ){
        const input = cm_start_date+" "+cm_start_time;
        const input2 = cm_end_date+" "+cm_end_time;

        const diffInMinutes = getTimeDifferenceInMinutes(input2,input);
        $('#service_delay').val(diffInMinutes);
        // console.log(`Time difference: ${diffInMinutes} minute(s)`);

    }


}


function getTimeDifferenceInMinutes(inputDateTimeStr, inputDateTimeStr2 ) {
    // Parse input date string in "dd/mm/yyyy hh:mm" format
    const [datePart, timePart] = inputDateTimeStr.split(' ');
    const [day, month, year] = datePart.split('/').map(Number);
    const [hours, minutes] = timePart.split(':').map(Number);

    // Create a Date object from input
    const inputDate = new Date(year, month - 1, day, hours, minutes);


    const [datePart2, timePart2] = inputDateTimeStr2.split(' ');
    const [day2, month2, year2] = datePart2.split('/').map(Number);
    const [hours2, minutes2] = timePart2.split(':').map(Number);

    // Create a Date object from input
    const currentDate = new Date(year2, month2 - 1, day2, hours2, minutes2);

    // Get current time
    // const currentDate = new Date();

    // Calculate difference in milliseconds
    const diffMs = inputDate - currentDate;

    // Convert to minutes (rounded down)
    const diffMins = Math.floor(diffMs / 1000 / 60);

    return diffMins;
}



   function SetButton(id){
        $('#buttonClick').val(id);
        return true;
    }

    $("#asset_type").change(function () {                            
    var asset_type= $('select[name=asset_type]').val()
    $.ajax({
        url: "/forms/system/",
        method: 'GET',
        dataType: 'json',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data : {
        'asset_type' : asset_type
        },
        success: function (response) {
            //console.log(response);
            var asset_config_id = "<option value="+""+">"+"--  Select Asset config id  --"+"</options>";
                $.each(response, function (i,value) {
                if (value.asset_config_id != ''){
                asset_config_id = asset_config_id + "<option value="+value.id+">"+value.asset_config_id+"</options>";
                }
            });
                var select = "<select>"+asset_config_id+"</select>";
            $("#asset_config_id").html(select);
            
            }
        }); 
    });


     $("#asset_config_id").change(function () {                            
    var asset_config_id= $('select[name=asset_config_id]').val()
    $.ajax({
        url: "/forms/location_id/",
        method: 'GET',
        dataType: 'json',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data : {
        'asset_config_id' : asset_config_id
        },
        success: function (response) {
            //console.log(response);
            var location_id = "<option value="+""+">"+"--  Select Train Set No  --"+"</options>";
                $.each(response, function (i,value) {
                if (value.location_id != ''){
                location_id = location_id + "<option value="+value.id+">"+value.location_id+"</options>";
                }
            });
                var select = "<select>"+location_id+"</select>";
            $("#location_id").html(select);
            
            }
        }); 
    });


    $("#location_id").change(function () {                            
    var location_id= $('select[name=location_id]').val()
    var date= $('#date').val()
    $.ajax({
        url: "/forms/km_location_id/",
        method: 'GET',
        dataType: 'json',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data : {
        'location_id' : location_id,
        'date' : date
        },
        success: function (response) {
            console.log(response);
            if(response.length > 0){
                $('#kilometre_reading').val(response[0]['value']);
            }else{
                $('#kilometre_reading').val('');
            }
            
            
            }
        }); 
    });


    $( "#FailureForm" ).submit(function(e) {
        e.preventDefault();
        var failure_id= $('#failure_id').val()
        var date= $('#date').val()
        var time= $('#time').val()
        var event_description= $('#event_description').val()
        var failure_type= $('select[name=failure_type] option').filter(':selected').val()
        var asset_type= $('select[name=asset_type] option').filter(':selected').val()
        var asset_config_id= $('select[name=asset_config_id] option').filter(':selected').val()
        var mode_id= $('select[name=mode_id] option').filter(':selected').val()
        var detection= $('#detection').val()
        var safety_failure= $('select[name=safety_failure] option').filter(':selected').val()
        var hazard_id= $('#hazard_id').val()

        var id= $('#id').val()
        
        // if(id == ""){
        // var cm_start_date= '{{data.cm_start_date|date:"Y-m-d"}}';
        // var cm_end_date= '{{data.cm_end_date|date:"Y-m-d"}}';
        // var cm_start_time= '{{data.cm_start_time|date:"H:i"}}';
        // var cm_end_time= '{{data.cm_end_time|date:"H:i"}}';

        // }else{
        //      var cm_start_date= '{{data.cm_start_date}}';
        //     var cm_end_date= '{{data.cm_end_date}}';
        //     var cm_start_time= '{{data.cm_start_time}}';
        //     var cm_end_time= '{{data.cm_end_time}}';

        // }

       
        
        // var cm_end_time= $('#cm_end_time').val()
        // var cm_description= $('#cm_description').val()
        var defect= $('select[name=defect] option').filter(':selected').val()
        var immediate_investigation= $('#immediate_investigation').val()
        var oem_failure_reference= $('#oem_failure_reference').val()
        var replaced_asset_config_id= $('#replaced_asset_config_id').val()
        // var service_delay= $('#service_delay').val()


        var location_id= $('select[name=location_id] option').filter(':selected').val()
        var kilometre_reading= $('#kilometre_reading').val()
        var sel_car= $('#sel_car').val()
        var revenue_service_delay= $('#revenue_service_delay').val()
        var affecting_failures= $('#affecting_failures').val()
        var equipment= $('#equipment').val()
        var location= $('#location').val()
        var direction= $('select[name=direction] option').filter(':selected').val()
        var incident= $('select[name=incident] option').filter(':selected').val()
        var no_of_trip_cancel= $('#no_of_trip_cancel').val()
        var department= $('select[name=department] option').filter(':selected').val()
        var deboarding= $('select[name=deboarding] option').filter(':selected').val()
        var reported_to_PPIO= $('select[name=reported_to_PPIO] option').filter(':selected').val()
        var TO_name= $('#TO_name').val()

        const select = document.getElementById("sel_car");
        const selectedValues = Array.from(select.selectedOptions).map(opt => opt.value);
        sel_car = selectedValues.join(", ");
        console.log(sel_car); // Logs: BMW, Audi, etc.

        const select2 = document.getElementById("affecting_failures");
        const selectedValues2 = Array.from(select2.selectedOptions).map(opt => opt.value);
        affecting_failures = selectedValues2.join(", ");
        console.log(affecting_failures); // Logs: BMW, Audi, etc.


        var dept_location= $('select[name=dept_location] option').filter(':selected').val()
        var failure_category= $('select[name=failure_category] option').filter(':selected').val()
        


        
        var buttonClick= $('#buttonClick').val()

        event_description = event_description.replace(/['"`]/g, '');
        immediate_investigation = immediate_investigation.replace(/['"`]/g, '');
        oem_failure_reference = oem_failure_reference.replace(/['"`]/g, '');
        // cm_description = cm_description.replace(/['"`]/g, '');


        $.ajax({
            url: "/forms/failuredata/addfailuredata/",
            method: 'POST',
            dataType: 'json',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data : {
                'asset_type':asset_type,
                'failure_id':failure_id,
                'asset_config_id':asset_config_id,
                'event_description' : event_description,
                'mode_id': mode_id,
                'date' : date,
                'time' : time,
                'detection':detection,
                'service_delay':'{{data.service_delay}}',
                'immediate_investigation':immediate_investigation,
                'failure_type':failure_type,
                'safety_failure':safety_failure,
                'hazard_id' : hazard_id,
                'cm_description': '{{data.cm_description}}',
                'replaced_asset_config_id' : replaced_asset_config_id,
                // 'cm_start_date' : cm_start_date,
                // 'cm_start_time':cm_start_time,
                // 'cm_end_date':cm_end_date,
                'id':id,
                // 'cm_end_time' : cm_end_time,
                'oem_failure_reference':oem_failure_reference,
                'defect':defect,

                'location_id':location_id,
                'kilometre_reading':kilometre_reading,
                'sel_car':sel_car,
                'equipment':equipment,
                'location':location,
                'direction':direction,
                'incident':incident,
                'no_of_trip_cancel':no_of_trip_cancel,
                'department':department,
                'deboarding':deboarding,
                'reported_to_PPIO':reported_to_PPIO,
                'TO_name':TO_name,
                'revenue_service_delay':revenue_service_delay,
                'affecting_failures':affecting_failures,

                'dept_location':dept_location,
                'failure_category':failure_category,


            },

            success: function (response) {
                if(response.status == '1') {
                    if(buttonClick == 1){
                        if(id == ""){
                            swal({
                                title: 'Successfully add new failuredata',
                                text: "",
                                type: '',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Ok'
                            },function () {
                                window.location.href = "/forms/failuredata/";
                            })    

                        }else{
                            swal({
                                title: 'Successfully update failuredata',
                                text: "",
                                type: '',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Ok'
                            },function () {
                                window.location.href = "/forms/failuredata/";
                            })    

                           
                        }
                       
                    } 
                    else if(buttonClick == 2){
                        if(id == ""){
                            swal({
                                title: 'Successfully add new failuredata',
                                text: "",
                                type: '',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Ok'
                            },function () {
                                window.location.href  = "/forms/failuredata/addfailuredata/";
                            })    

                        }else{
                            swal({
                                title: 'Successfully update failuredata',
                                text: "",
                                type: '',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Ok'
                            },function () {
                                window.location.href  = "/forms/failuredata/addfailuredata/";
                            })    

                        }
                    
                    } 
                    else if(buttonClick == 3) {
                        if(id == ""){
                            swal({
                                title: 'Successfully add new failuredata',
                                text: "",
                                type: '',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Ok'
                            },function () {
                                window.location.href = "/forms/failuredata/addfailuredata/"+response.id;
                            })    

                           
                        }else{
                            swal({
                                title: 'Successfully update failuredata',
                                text: "",
                                type: '',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Ok'
                            },function () {
                                window.location.href = "/forms/failuredata/addfailuredata/"+response.id;
                            })   

                        }
                     
                    }
                }
                else{
                    swal('Failure id already exists')
                    //$('#message').removeClass('d-none'); 
                    //$('#message').html('Failure id already exists.');
                }
            }
        });
        
    });


 
</script>

{% endblock sb_admin_js %}
