

{% extends "django_sb_admin/base.html" %}
<!doctype html>
{% block sb_admin_header %}
  {% block branding %}
    <img src="/static/Riyadh-metro-logo.png" style="background: transparent;width: 60px;">
    <!-- <h1 id="site-name">Asset Optima</h1> -->
    <style>
        th:first-child,td:first-child,th:last-child,td:last-child {  
        background-color:white;    
        }
    </style>
  {% endblock %}
{% endblock sb_admin_header %}
{% block sb_admin_content %}
              <!-- Page Heading -->
            {% if status %}
            <div class="row mb-3 mb-4 mt-4">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        Import Asset Register
                    </h3>
                    <!--ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Forms
                        </li>
                    </ol-->
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 mb-5">
                    
                    
                        <button class="btn btn-success btn-icon-split float-right m-2" onclick="getIdofSelectedCBAssetReg({{data}})">            
                        <span class="text">Save </span>
                        
                        </button>

                        <a href="/forms/asset_register/"><button class="btn btn-primary btn-icon-split float-right m-2" > 
                            <span class="icon text-white-50">
                                <i class="fas fa-angle-left"></i>
                                </span>             
                            <span class="text">Back</span>
                            </button></a>
                        
                   
                </div>
            </div>

                <div class="row">
                  <div class="col-md-12">
                      <table id="importDataUpdate" class="table table-striped table-bordered " style="width:100%">
                          <thead>
                              <tr>
                                    <th><input type="checkbox" id="SACB_importAssetRegister" /></th>
                                    <th>Asset Config id</th>
                                    <th>location</th>
                                    <th>location_description</th>
                                    <th>asset_serial_number</th>
                                    <th>asset_type</th>
                                    <th>asset_description</th>
                                    <th>software_version</th>
                                    <th>software_description</th>
                                    <th>asset_status</th>
                                    <th></th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for dU in data %}
                                <tr>
                                    <td>
                                        {% if dU.err_status == '1' %}
                                            <input type="checkbox" value="{{dU.id}}" name="CB_importData" class="CB_importAssetRegister"/>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.asset_config_id}}
                                        {% if dU.asset_config_id_err != '1' %}
                                            <span class="text-danger"><br>{{dU.asset_config_id_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.location_id}}
                                        {% if dU.location_id_err != '1' %}
                                            <span class="text-danger"><br>{{dU.location_id_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.location_description}}
                                        {% if dU.location_description_err != '1' %}
                                            <span class="text-danger"><br>{{dU.location_description_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.asset_serial_number}}
                                        {% if dU.asset_serial_number_err != '1' %}
                                            <span class="text-danger"><br>{{dU.asset_serial_number_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.asset_type}}
                                        {% if dU.asset_type_err != '1' %}
                                            <span class="text-danger"><br>{{dU.asset_type_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.asset_description}}
                                        {% if dU.asset_description_err != '1' %}
                                            <span class="text-danger"><br>{{dU.asset_description_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.software_version}}
                                        {% if dU.software_version_err != '1' %}
                                            <span class="text-danger"><br>{{dU.software_version_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.software_description}}
                                        {% if dU.software_description_err != '1' %}
                                            <span class="text-danger"><br>{{dU.software_description_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{dU.asset_status}}
                                        {% if dU.asset_status_err != '1' %}
                                            <span class="text-danger"><br>{{dU.asset_status_err}}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if dU.err_status == '1' %}
                                            <span class="text-success"><i class="fas fa-check"></i></span>
                                        {% else %}
                                            <span class="text-danger"><i class="fas fa-times"></i></span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                                
                                
                          </tbody>
                      </table>
                  </div>
                </div>

                <div class="row mb-4" align="right">
                    <div class="col-12">  
                        <button type="button" onclick="getIdofSelectedCBAssetReg({{data}})" class="btn btn-success" >Save</button>
                    </div>
                </div>


            {% else %}

            <div class="row mb-3">
                <div class="col-lg-12">
                    <h3 class="page-header">
                      Import Asset Register
                    </h3>
                   
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-12 mb-3">
    
    
                    <a href="/forms/asset_register/"><button class="btn btn-primary btn-icon-split float-right m-2" > 
                    <span class="icon text-white-50">
                        <i class="fas fa-angle-left"></i>
                        </span>             
                    <span class="text">Back</span>
                    </button></a>
                
                </div>
            </div>


            <form  enctype='multipart/form-data' action="/forms/asset_register/importasset/"  id="importassetregister" name="importassetregister" method="post" > 
            <!-- <form  enctype='multipart/form-data' id="importassetregister" name="importassetregister" method="post" >  -->

                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="card card-login mx-auto mt-5">
                    <h2 class="card-header text-center">Import File</h2>
                <div class="card-body">
                    <fieldset class="module aligned uploadFileForm">
                        <div class="form-row">
                        <label for="import_file">File to import:</label>
                        <input type="file" name="import_assetRegister" required="" id="import_assetRegister">
                        </div>
                    </fieldset>
                    <div>
                        {% if message %}
                            <div class="alert alert-warning m-2">
                            {{message}}
                            </div>
                        {% else %}
                            <div class="alert alert-warning m-2">
                            *Don't include space for the uploaded filename
                            </div>
                        {% endif %}
                    </div>
                    <div class="">
                        <input type="submit" class="btn btn-success float-right" value="Submit">
                        
                    </div>
                    
                
                </div>
            </form>

        </div>
        <div class="row mt-5">
            <div class="mx-auto" style="max-width: 20rem;">
            <a class="btn btn-primary" href="/static/AssetRegister.xlsx " download="">Download Sample Excel File</a>
        </div>
        {% endif %}


            
{% endblock sb_admin_content %}
{% block sb_admin_js %}
<script>
$(document).ready(function() {
    $("#SACB_importAssetRegister").click(function () {
        $(".CB_importAssetRegister").attr('checked', this.checked);
    });
    $('#importDataUpdate').DataTable({
        scrollY:        "350px",
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        fixedColumns:   {
            left: 1,
            right: 1
        },
        "searching" : false,
        "order": false,
    });
});

 
function getids(){
    ids1=[];
    $("input:checkbox[name=CB_importData]:checked").each(function(){
        ids1.push($(this).val());
    });

    // return ids1;
    return ids1.toString();
}

function getIdofSelectedCBAssetReg(data1){
    ids= getids();
    if (ids == ""){
        swal("Please select atleast one record");
        return false;
    }
    var datas=data1;
    $.ajax({
        url: "/forms/asset_register/addimportasset/",
        method: 'POST',
        dataType: 'json',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: {
            'ids':ids ,
            'datas': JSON.stringify(datas),
        },
        success: function (response) {
            if(response.status == '1') {
                // swal(" Inserted :  " + response.inserted + " Records and Updated :  " + response.updated +" Records");
                // window.location.href = '/forms/asset_register/';

                swal({
                    title: " Inserted :  " + response.inserted + " Records and Updated :  " + response.updated +" Records",
                    text: "",
                    type: '',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                },function () {
                    window.location.href = '/forms/asset_register/';
                })  
            }
                
        }
    });
}



    
</script>

{% endblock sb_admin_js %}
