{% extends "django_sb_admin/base.html" %}
<!doctype html>
{% block sb_admin_header %}
  {% block branding %}
    <img src="/static/Riyadh-metro-logo.png" style="background: transparent;width: 60px;">
    <style>
        th:first-child,td:first-child,th:last-child,td:last-child,th:nth-child(2),td:nth-child(2) {  
        background-color:white;    
        }
    </style>
    <!-- <h1 id="site-name">Asset Optima</h1> -->
  {% endblock %}
{% endblock sb_admin_header %}
{% block sb_admin_content %}
              <!-- Page Heading -->

            <div class="row mb-3">
                <div class="col-lg-12">
                    <h3 class="page-header" style="margin-left:-15px">
                      NCR (Non-Conformity Report) Generation
                    </h3>
                    <!--ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Forms
                        </li>
                    </ol-->
                </div>
            </div>
            <!-- /.row -->

            <div class="row mb-4">

                <div class="col-md-3">     
                    <div class="form-group">
                        <label for="date">By NCR Opening Date</label>
                        <input type="text" autocomplete="off" required="required" class="form-control date-time" id="date" name="date" value="">
                    </div>
                </div> 

                <div class="col-md-3">     
                    <div class="form-group">
                        <label for="date2">By NCR Closure Date</label>
                        <input type="text" autocomplete="off" required="required" class="form-control date-time" id="date2" name="date2" value="">
                    </div>
                </div> 


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" name="status">
                        <option value="all">--All--</option>
                        <option value="0">Open</option>
                        <option value="1">Closed</option>
                        <option value="2">Rejected</option>
                        </select>
                    </div>
                </div>



            </div>


                 <div class="col-md-3 ">     
                    <button type="button" onClick="return getDefectData();" class="btn btn-primary mt-2">Filter Now</button>
                </div>
          
          


            
          <div class="row">
            <div class="col-md-12">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>NON-CONFORMITY REPORT No</th>
                            <th>NCR Opening Date</th>
                            <th>NCR Closure Date</th>
                            <th>PART Description /ASSEMBLY NAME</th>
                            <th>PART or ASSEMBLY No</th>


                            <th>Status</th>
                            <th>Remark</th>
                          
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
          </div>
{% endblock sb_admin_content %}
{% block sb_admin_js %}
<script>
    $(document).ready(function() {
       
        $('#example').DataTable();
        getDefectData();

          $('#date').datepicker({
          autoclose: true,
          format: 'dd/mm/yyyy',});

            $('#date2').datepicker({
          autoclose: true,
          format: 'dd/mm/yyyy',});
       
    });

   

function getDefectData(){


    var date= $('#date').val()
    var date2= $('#date2').val()
    var status= $('select[name=status] option').filter(':selected').val()
   

        $('#example').DataTable().destroy();
        $('#example').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                    {
                    extend: 'excel',
                    title: 'Engineering Incident Report(EIR) Generation',
                    className: 'btn-outline-primary',
                    exportOptions: {
                            columns: ':not(:last-child)', // hides only the last column from export
                        }
                    },
                    {
                    extend: 'pdf',
                    title: 'Engineering Incident Report(EIR) Generation',
                    className: 'btn-outline-primary',
                    exportOptions: {
                            columns: ':not(:last-child)', // hides only the last column from export
                        }
                    },
                    {
                    extend: 'print',
                    title: 'Engineering Incident Report(EIR) Generation',
                    className: 'btn-outline-primary',
                    exportOptions: {
                            columns: ':not(:last-child)', // hides only the last column from export
                        }
                    }
                ],
                  scrollY:        "400px",
                    scrollX:        true,
                    scrollCollapse: true,
                    paging:         true,
                    fixedColumns:   {
                        left: 2,
                        right: 1
                    },
                  "order": [[ 1, "asc" ]],
                  "searching" : true,
                  'ajax' : {
                      "url": "/forms/ncr_register/",
                      "type": "POST",
                      "headers": {'X-CSRFToken': '{{ csrf_token }}'},
                      'data' : {
                        'date':date,
                        'date2':date2,
                        'status': status,
                    }
                  },
                  "columns" : [
                   
                      {"data" : "ncr_gen_id"},
                    {"data":null,"render":function(item){

                            if(item.date != null){
                                return moment(item.date).format('DD-MM-YYYY');
                            }
                            return item.date;
                        
                        }
                    },
                      
                  
                    {"data":null,"render":function(item){

                            if(item.fnl_date != null){
                                return moment(item.fnl_date).format('DD-MM-YYYY');
                            }
                            return item.fnl_date;
                        
                        }
                    },

                     {"data" : "assembly_name"},
                      {"data" : "assembly_no"},
                      
                    {"data":null,"render":function(item){

                            if(item.ncr_status == 1){
                                return '<h5 class="text-danger"> Closed </h5>';
                            }else{
                                if(item.rejection_status == 1) {
                                    return '<h5 class="text-info"> Rejected </h5>';
                                }

                                return '<h5 class="text-success"> Open </h5>';
                                
                            }
                            
                        
                        }
                    },
                      {"data":null,"render":function(item){

                            if(item.ncr_status == 1){
                                return 'NCR was closed on '+moment(item.fnl_date).format('DD-MM-YYYY')+'.';
                            }else{
                                if(item.rejection_status == 1) {
                                    return item.remark;
                                }else if(item.accept_status == 1) {
                                    return 'The NCR has been accepted.';
                                }
                            }

                            return 'The NCR is currently being processed.'
                            
                        
                        }
                    },
                     
                      {"data":null,"render":function(item){

                            var tbl = '';
                            tbl += '<a href="/forms/ncr_register/viewncr/'+ item.id +'" >View</a>  ';

                            
                            if( (item.user_Role == 1 || item.user_Role == 2 ) || ( item.ncr_status == 0 && item.user_Role == 7 &&  item.rejection_status == 0 && item.accept_status == 0) ){
                                tbl += ' | <a href="/forms/ncr_register/addncr/'+ item.id +'" >Edit</a> ';
                            }


                            if(item.ncr_status == 1){
                               tbl += ' | <a href="/forms/ncr_register/dwd_ncr/'+ item.id +'" >PDF</a> ';
                            }

                         
                            return tbl;
                        }
                    },
                  ]
        });
    }

</script>

{% endblock sb_admin_js %}
