{% extends "django_sb_admin/base.html" %}
<!doctype html>
{% block sb_admin_header %}
  {% block branding %}
    <img src="/static/Riyadh-metro-logo.png" style="background: transparent;width: 60px;">
    <!-- <h1 id="site-name">Asset Optima</h1> -->
  {% endblock %}
{% endblock sb_admin_header %}
{% block sb_admin_content %}
              <!-- Page Heading -->

            <div class="row mb-3">
                <div class="col-lg-6">
                    <h3 class="page-header">
                       Job Card
                    </h3>
                  
                </div>

                 <div class="col-lg-6 mb-3">
    
    
                    <a href="/forms/jobcard_register/"><button class="btn btn-primary btn-icon-split float-right m-2" > 
                    <span class="icon text-white-50">
                        <i class="fas fa-angle-left"></i>
                        </span>             
                    <span class="text">Back</span>
                    </button></a>
                
                </div>

            </div>
            <div class="row " style="padding: 20px;">

                <div class="col-lg-6">
                    <span>Job Card No: <b>{{data.job_card_no}}</b></span><br>
                    <span>Train Set No: <b>{{data.train_set_no}}</b></span><br>
                    <span>Department: <b>{{data.department}}</b></span><br>
                    <span>Nature of Job: <b>{{ data.nature_of_job|default_if_none:"" }}</b></span><br>
                    <span>SIC Required: <b>{{ data.sic_required|default_if_none:"" }}</b></span><br>
                    <span>Assigned To: <b>{{ data.assigned_to|default_if_none:"" }}</b></span><br>
                 
                  
                </div>
                <div class="col-lg-6">
                    <span>Date Issued <b>{{data.date}}</b></span>,
                    <span>Time <b>{{data.time}}</b></span><br>

                    {% if data.status == 0 %}
                        <h3 class="text-success"> Open </h3>
                    {% else %}
                        <h3 class="text-danger"> Closed </h3>
                    {% endif %}

                    <span>Last Update On <b>{{data.last_update}}</b></span>


                    
                </div>

               

               
            </div>
             <hr>
             <div class="row " style="padding: 20px;">
                <div class="col-lg-12"><h3>Failure Data</h3></div>
                
                <div class="col-lg-4">
                    <span>Failure ID: <b>{{data.failure_id}}</b></span><br>
                    <span>Failure description: <b>{{data.event_description}}</b></span><br>
                    <span>Failure type: <b>{{data.failure_type}}</b></span><br><br>

                    <span>Kilometre Reading: <b>{{data.kilometre_reading}}</b></span><br>
                    <span>CAR: <b>{{data.sel_car}}</b></span><br>
                    <span>Equipment: <b>{{data.equipment}}</b></span><br>
                    <span>Location: <b>{{data.location}}</b></span><br>
                    <span>Direction: <b>{{data.direction}}</b></span><br>

                </div>

                <div class="col-lg-4">
                    <span>Asset Name: <b>{{data.asset_type}}</b></span><br>
                    <span>Asset Config ID: <b>{{data.asset_config_id}}</b></span><br>
                    <span>Train Set No: <b>{{data.train_set_no}}</b></span><br><br>
                    
                    <span>Incident: <b>{{data.incident}}</b></span><br>
                    <span>No. of Trips Cancelled: <b>{{data.no_of_trip_cancel}}</b></span><br>
                    <span>Deboarding: <b>{{data.deboarding}}</b></span><br>
                    <span>Reported to PPIO: <b>{{data.reported_to_PPIO}}</b></span><br>
                    <span>T.O. Name / Reported By: <b>{{data.TO_name}}</b></span><br>

                </div>
                <div class="col-lg-4">
                    <span>Failure detection: <b>{{data.detection}}</b></span><br>
                    <span>Delay Time (mins): <b>{{data.service_delay}}</b></span><br>
                    <span>Safety failure: <b>{{data.safety_failure}}</b></span><br><br>

                    <span>Cm start date : <b>{{data.cm_start_date}}</b></span><br>
                    <span>Cm start time: <b>{{data.cm_start_time}}</b></span><br>
                    <span>Cm end date : <b>{{data.cm_end_date}}</b></span><br>
                    <span>Cm end time: <b>{{data.cm_end_time}}</b></span><br>
                    <span>Cm description: <b>{{data.cm_description}}</b></span><br>

                </div>
                <div class="col-lg-12"><br>
                    <span>Immediate Action Taken: <b>{{data.immediate_investigation}}</b></span><br>
                </div>



             </div>


             {% if data.run_status == 0 %}

                <div class="row " style="padding: 20px;text-align: center;">
                    <div class="col-lg-12 border p-2 text-danger" >
                        <span class="text-muted">
                            <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 1 Job Card Details (To be filled by PPIO) (Pune Metro) 
                        </span>


                        {% if request.session.user_Role == 5 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                        <br>
                        <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                        {% endif %} 




                    </div>

                </div>
                


            {% else %}

                <hr>

                <div class="row " style="padding: 20px;">
                    <div class="col-lg-12"><h3>LEVEL 1 Job Card Details (To be filled by PPIO) (Pune Metro)</h3></div>

                     <div class="col-lg-4">
                        <span>OHE Required: <b>{{data.ohe_required}}</b></span><br>
                        <span>Issued to: <b>{{data.issued_to}}</b></span><br>
                        <span>Expected Time of Completion: <b>{{data.completion_time}}</b></span><br><br>

                        <span>Train Withdrawn from Revenue Service: <b>{{data.from_revenue_service}}</b></span><br>

                        {% if data.from_revenue_service == 'Yes' %}
                            <span>Delay to Service: <b>{{data.delay_to_service}}</b></span><br>
                            <span>Trip No: <b>{{data.trip_no}}</b></span><br>                 
                        {% endif %}



                    </div>
                    <div class="col-lg-4">

                        <span>Nature of Job: <b>{{data.nature_of_job}}</b></span><br>
                        <span>Event Date: <b>{{data.event_date}}</b></span><br>
                        <span>Event Time: <b>{{data.event_time}}</b></span><br>

                    </div>


                </div>


                    {% if data.run_status == 1 %}

                        <div class="row " style="padding: 20px;text-align: center;">
                            <div class="col-lg-12 border p-2 text-danger" >
                                <span class="text-muted">
                                    <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 1 Details Of Job(s) to be carried out 
                                </span>


                                {% if request.session.user_Role == 5 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                                <br>
                                <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                                {% endif %} 




                            </div>

                        </div>
                        


                    {% else %}


                        <div class="row " style="padding: 20px;">
                             <div class="col-lg-12"><h3>LEVEL 1 Details Of Job(s) to be carried out</h3></div>
                            

                        </div>

                         <div class="row " style="padding: 20px;text-align: center;">
                            <div class="col-md-12">
                                <table id="example" class="table stripe row-border order-column table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                           
                                            <th>S. No</th>
                                            <th>Car No</th>
                                            <th>Sub System</th>
                                            <th>Equipment</th>
                                            <th>Job Details</th>
                                         
                                        </tr>
                                    </thead>
                                    <tbody>


                                     {% for job_details in job_details %}
                                            <tr>
                                                <td>{{ job_details.s_no }}</td>
                                                <td>{{ data.sel_car }}</td>
                                                <td>{{ data.subsystem }}</td>
                                                <td>{{ data.equipment }}</td>
                                                <td>{{ job_details.job_description }}</td>

                                                
                                              
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5" class="text-center text-muted">No job details available</td>
                                            </tr>
                                        {% endfor %}

                                        





                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row " style="padding: 20px;">


                            <div class="col-lg-4">

                                <span>Safety Independent Check Required: <b>{{data.sic_required}}</b></span><br>
                                <span>SIC No: <b>{{data.sic_no}}</b></span><br>
                                <span>SIC Assigned: <b>{{data.assigned_to}}</b></span><br>

                            </div>

                        </div>



                         <div class="row " style="padding: 20px;text-align: center;">

                            <h5>If any other Job Cards Issued for the same Train on the same day & same time</h5>
                            <div class="col-md-12">
                                <table  class="table stripe row-border order-column table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                           
                                            <th>S. No</th>
                                            <th>Job Card No</th>
                                            <th>Job Card Issue To</th>
                                            <th>Activity</th>
                                            <th>Expected Completion Time</th>
                                            <th>Status</th>
                                         
                                        </tr>
                                    </thead>
                                    <tbody>


                                     {% for prv_dts in prv_data %}
                                            <tr>
                                                <td>{{ prv_dts.st_gen }}</td>
                                                <td>{{ prv_dts.job_card_no }}</td>
                                                <td>{{ prv_dts.issued_to }}</td>
                                                <td>{{ prv_dts.immediate_investigation }}</td>
                                                <td>{{ prv_dts.completion_time }}</td>
                                                 <td>{{ prv_dts.status }}</td>

                                                
                                              
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="6" class="text-center text-muted">No job card available</td>
                                            </tr>
                                        {% endfor %}

                                        





                                    </tbody>
                                </table>
                            </div>
                        </div>




                        {% if data.run_status == 2 %}

                            <div class="row " style="padding: 20px;text-align: center;">
                                <div class="col-lg-12 border p-2 text-danger" >
                                    <span class="text-muted">
                                        <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 1 Previous Failure History (To be filled by PPIO) (Pune Metro)
                                    </span>


                                    {% if request.session.user_Role == 5 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                                    <br>
                                    <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                                    {% endif %} 




                                </div>

                            </div>


                            

                        {% else %}

                         <div class="row " style="padding: 20px;">
                             <div class="col-lg-12"><h3>LEVEL 1 Previous Failure History (To be filled by PPIO) (Pune Metro)</h3></div>
                            

                        </div>




                         <div class="row " style="padding: 20px;text-align: center;">
                            <h5>Previous Failure History of the system or equipment for which this job cards is issued: if any</h5>
                            <div class="col-md-12">
                               <table  class="table stripe row-border order-column table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                           
                                            <th>S. No</th>
                                            <th>Event Date</th>
                                            <th>Job Card No</th>
                                            <th>Action Taken</th>
                                           
                                         
                                        </tr>
                                    </thead>
                                    <tbody>


                                     {% for prv_dts in prv_data2 %}
                                            <tr>
                                                <td>{{ prv_dts.st_gen }}</td>
                                                <td>{{ prv_dts.date }}</td>
                                                <td>{{ prv_dts.job_card_no }}</td>
                                                <td>{{ prv_dts.immediate_investigation }}</td>
                                              
                                                
                                              
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="6" class="text-center text-muted">No job card available</td>
                                            </tr>
                                        {% endfor %}

                                        





                                    </tbody>
                                </table>
                            </div>
                        </div>


                         <div class="row " style="padding: 20px;">


                            <div class="col-lg-4">

                                <span>Issued by (Name): <b>{{data.issued_by}}</b></span><br>
                                <span>Date: <b>{{data.l1_date}}</b></span><br>
                                <span>Time: <b>{{data.l1_time}}</b></span><br>

                            </div>

                            <div class="col-lg-4">
                                <img src="/static/{{data.signature_img}}" style="width: 60px;">

                            </div>

                        </div>


                        <hr>



                        {% if data.run_status == 3 %}

                            <div class="row " style="padding: 20px;text-align: center;">
                                <div class="col-lg-12 border p-2 text-danger" >
                                    <span class="text-muted">
                                        <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 2  Acceptance of Job Card (To be filled by nominated work supervisor)
                                    </span>


                                    {% if request.session.user_Role == 6 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                                    <br>
                                    <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                                    {% endif %} 




                                </div>

                            </div>

                        {% else %}

                          <div class="row " style="padding: 20px;">
                             <div class="col-lg-12"><h3>LEVEL 2  Acceptance of Job Card (To be filled by nominated work supervisor)</h3></div>
                            

                        </div>


                         <div class="row " style="padding: 20px;">


                            <div class="col-lg-12">
                                        <span>

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                        </svg>
                                                                                
                                                                                
                                                                                <b>I hereby declare that, I accept the responsibility to carry out the work on the equipment detailed on this Job Card only, and no attempt shall be made by me or any person under my control, to carry out work on any other equipment. </b></span>
                                     </div>


                            <div class="col-lg-4">

                                <span>Received by (Name): <b>{{data.received_by}}</b></span><br>
                                <span>Date: <b>{{data.l2_date}}</b></span><br>
                                <span>Time: <b>{{data.l2_time}}</b></span><br>

                            </div>

                            <div class="col-lg-4">
                                <img src="/static/{{data.signature_img2}}" style="width: 60px;">

                            </div>

                        </div>




                         {% if data.run_status == 4 %}

                            <div class="row " style="padding: 20px;text-align: center;">
                                <div class="col-lg-12 border p-2 text-danger" >
                                    <span class="text-muted">
                                        <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 2 Allotment of work to Maintainers
                                    </span>


                                    {% if request.session.user_Role == 6 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                                    <br>
                                    <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                                    {% endif %} 




                                </div>

                            </div>

                        {% else %}


                          <div class="row " style="padding: 20px;">
                             <div class="col-lg-12"><h3>LEVEL 2 Allotment of work to Maintainers</h3></div>
                            

                        </div>


                        <div class="row " style="padding: 20px;text-align: center;">
                            <div class="col-md-12">
                                <table id="example" class="table stripe row-border order-column table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                        
                                            <th>S. No</th>
                                            <th>Name</th>
                                            <th>Work</th>
                                            <th>Signature</th>
                                       
                                        </tr>
                                    </thead>
                                    <tbody>


                                    {% for job_works in job_works %}
                                            <tr>
                                                <td>{{ job_works.s_no }}</td>
                                                <td>{{ job_works.jobwork_name }}</td>
                                                <td>{{ job_works.jobwork_work }}</td>
                                                <td>{{ job_works.jobwork_signature }}</td>
                                                
                                             
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="6" class="text-center text-muted">No work available</td>
                                            </tr>
                                        {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="row " style="padding: 20px;">


                            <div class="col-lg-12">
                                <span>Details of the activities carried out: <b>{{data.details_of_the_activitues}}</b></span><br>
                                <span>Follow Up Details: <b>{{data.follow_up_details}}</b></span><br>
                                <span>Job Card Handed over to the next supervisor, if work is not completed in your shift: <b>{{data.handed_over}}</b></span><br>
                                <span>Name of the New Supervisor: <b>{{data.new_supervisor}}</b></span><br>

                            </div>

                          {% if data.signature_img3 %}
                            <div class="col-lg-4">
                                <img src="/static/{{ data.signature_img3 }}" style="width: 60px;">
                            </div>
                        {% endif %}


                        </div>


                        {% if data.run_status == 5 %}

                            <div class="row " style="padding: 20px;text-align: center;">
                                <div class="col-lg-12 border p-2 text-danger" >
                                    <span class="text-muted">
                                        <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 2 Details of the Equipment Replaced
                                    </span>


                                    {% if request.session.user_Role == 6 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                                    <br>
                                    <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                                    {% endif %} 




                                </div>

                            </div>

                        {% else %}



                          <div class="row " style="padding: 20px;">
                             <div class="col-lg-12"><h3>LEVEL 2 Details of the Equipment Replaced</h3></div>
                            

                            </div>


                             <div class="row " style="padding: 20px;text-align: center;">
                                                    <div class="col-md-12">
                                                        <table id="example" class="table stripe row-border order-column table-bordered" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                
                                                                    <th>S. No</th>
                                                                    <th>Name of Equipment</th>
                                                                    <th>In Sr.No.(New)</th>
                                                                    <th>Out Sr.No.(Old)</th>
                                                                 
                                                                </tr>
                                                            </thead>
                                                            <tbody>


                                                            {% for job_equipment in job_equipment %}
                                                                    <tr>
                                                                        <td>{{ job_equipment.s_no }}</td>
                                                                        <td>{{ job_equipment.jobequipment_name }}</td>
                                                                        <td>{{ job_equipment.jobequipment_new_no }}</td>
                                                                        <td>{{ job_equipment.jobequipment_old_no }}</td>
                                                                       
                                                                     
                                                                    </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td colspan="6" class="text-center text-muted">No Equipment Replaced</td>
                                                                    </tr>
                                                                {% endfor %}

                                                                





                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                            <div class="row " style="padding: 20px;">
                             <div class="col-lg-12"><h3>LEVEL 2 Job Completion Report</h3></div>
                            

                            </div>


                                <div class="row " style="padding: 20px;">

                                     <div class="col-lg-12">
                                        <span>

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                        </svg>
                                                                                
                                                                                
                                                                                <b>I hereby declare that; all persons have been withdrawn and all the equipment affected as detailed in Part A above have been restored to normal.</b></span>
                                     </div>


                                        <div class="col-lg-4">

                                            <span>Train can be energized: <b>{{data.train_can_be_energized}}</b></span><br>
                                            <span>Name: <b>{{data.completion_name}}</b></span><br>
                                            <span>Down Time(HH:MM): <b>{{data.down_time}}</b></span><br>
                                          
                                        </div>


                                        <div class="col-lg-4">

                                       
                                            <span>Train can be moved: <b>{{data.train_can_be_moved}}</b></span><br>
                                            <span>Date : <b>{{data.completion_date}}</b></span><br>
                                            <span>Time: <b>{{data.completion_date_time}}</b></span><br>

                                        </div>

                                    {% if data.signature_img4 %}
                                        <div class="col-lg-4">
                                            <img src="/static/{{ data.signature_img4 }}" style="width: 60px;">
                                        </div>
                                    {% endif %}


                                </div>



                                 {% if data.run_status == 6 %}

                                        <div class="row " style="padding: 20px;text-align: center;">
                                            <div class="col-lg-12 border p-2 text-danger" >
                                                <span class="text-muted">
                                                    <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 2 SIC Completion Report

                                                </span>


                                                {% if request.session.user_Role == 6 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                                                <br>
                                                <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                                                {% endif %} 




                                            </div>

                                        </div>

                                    {% else %}

                                        <div class="row " style="padding: 20px;">
                                        <div class="col-lg-12"><h3>LEVEL 2 SIC Completion Report</h3></div>
                                        

                                        </div>


                                         <div class="row " style="padding: 20px;">

                                                <div class="col-lg-12">

                                                    <span>Corrective action required to be carried out (if any): <b>{{data.corrective_action}}</b></span><br>
                                                    <span>SIC Start Time: <b>{{data.sic_start_time}}</b></span><br>

                                                    {% if data.sic_has_performed == 1 or data.sic_has_performed == '1' %}

                                                    <span>

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
</svg>
                                                        
                                                        
                                                        <b>SIC has been performed on concerned equipment.</b></span>

                                                    {% else %}

                                                    <span>


                                                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
</svg>
                                                        
                                                        
                                                        <b>SIC has been performed on concerned equipment.</b></span>

                                                    {% endif %}

<br>
                                                     <span>

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
</svg>
                                                        
                                                        
                                                        <b>All the necessary follow up action as described in Part F above and final inspection, including SIC (if any), have been completed. </b></span>



                                                    
                                                </div>


                                                <div class="col-lg-4">

                                                    <span>Train can be energized: <b>{{data.train_can_be_energized2}}</b></span><br>
                                                    <span>Name: <b>{{data.completion_name2}}</b></span><br>
                                                    <span>Down Time(HH:MM): <b>{{data.down_time2}}</b></span><br>
                                                
                                                </div>


                                                <div class="col-lg-4">

                                            
                                                    <span>Train can be moved: <b>{{data.train_can_be_moved2}}</b></span><br>
                                                    <span>Date : <b>{{data.completion_date2}}</b></span><br>
                                                    <span>Time: <b>{{data.completion_date_time2}}</b></span><br>

                                                </div>

                                            {% if data.signature_img5 %}
                                                <div class="col-lg-4">
                                                    <img src="/static/{{ data.signature_img5 }}" style="width: 60px;">
                                                </div>
                                            {% endif %}


                                        </div>


                                            {% if data.run_status == 7 %}

                                                <div class="row " style="padding: 20px;text-align: center;">
                                                    <div class="col-lg-12 border p-2 text-danger" >
                                                        <span class="text-muted">
                                                            <i class="fas fa-spinner fa-spin"></i> Waiting for LEVEL 3 Acknowledgement of returned Job Card (To be filled by PPIO)


                                                        </span>


                                                        {% if request.session.user_Role == 5 or request.session.user_Role == 1 or request.session.user_Role == 2 %}        
                                                        <br>
                                                        <a  href="/forms/jobcard_register/addjobcard/{{data.id}}" >Update Now</a>

                                                        {% endif %} 




                                                    </div>

                                                </div>

                                            {% else %}


                                                <div class="row " style="padding: 20px;">
                                                    <div class="col-lg-12"><h3>LEVEL 3 Acknowledgement of returned Job Card (To be filled by PPIO)</h3></div>
                                                    

                                                    </div>


                                                    <div class="row " style="padding: 20px;">


                                                        <div class="col-lg-4">
                                                            <span>Name: <b>{{data.close_name}}</b></span><br>
                                                            <span>Date: <b>{{data.close_date}}</b></span><br>
                                                            <span>Time: <b>{{data.close_time}}</b></span><br>

                                                        </div>

                                                    {% if data.signature_img6 %}
                                                        <div class="col-lg-4">
                                                            <img src="/static/{{ data.signature_img6 }}" style="width: 60px;">
                                                        </div>
                                                    {% endif %}


                                                    </div>


                                            {% endif %}

                                    {% endif %}



                        {% endif %}

                        {% endif %}

                        {% endif %}


                        {% endif %}

                    {% endif %}
                


            {% endif %}



           
            
{% endblock sb_admin_content %}
{% block sb_admin_js %}
<script>
    $(document).ready(function() {


    });

   
</script>

{% endblock sb_admin_js %}
